html, body {
    padding: 0;
    margin: 0;
}

header, footer {
    background-color: lightgray;
    border: solid 1px black;
}

footer {
    padding: 10px;
    border-radius: 6px;
}

body {
    font-family: arial, verdana, sans-serif;
    font-size: 22px;
    background-color: cornflowerblue;
}

#results {
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.simple-form {
    border: solid 1px #ccc;
    border-radius: 5px;
    color: #202020;
    margin: 0 0 20px 0;
    padding: 7px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

.simple-form label {
    font-weight: bold;
}

#main input[type=text],
#main select {
    width: 150px;
}

#main input[type=submit] {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 3px;
    margin-top: 5px;
    width: 90px;
}

.container {
    width: 989px;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
}

.resultItem {
    border: 1px solid;
    margin: 5px;
    padding: 10px;
}